@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

.input {
    border-radius: 60px;
    border: 1px solid rgba(29, 30, 33, 0.1);
    background: #fff;

    outline: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;

    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    border-radius: 60px;
    background: #59b17a;

    transition: transform 0.5s ease;
}

.btn:hover,
.btn:focus {
    outline: none;
    transform: scale(1.03);
}

.title {
    color: #1d1e21;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
